*.pyc
*.o
*.orig
*.a
*.so
*.x
*.lib
*.exe
*.obj
junk.txt
MANIFEST
build
dist
.tup
.dub
.ropeproject
dub.selections.json
examples/arraytest/tsetup.py
examples/hello/tsetup.py
examples/inherit/tsetup.py
examples/rawexample/tsetup.py
examples/testdll/tsetup.py
examples/misc/ctypes/boilerplate.d
examples/deimos_unittests/datetime
examples/deimos_unittests/link
examples/deimos_unittests/object_
examples/dub/simple_embedded/simple_embedded
examples/dub/shared_embedded/test
examples/pyd_unittests/class_wrap
examples/pyd_unittests/const
examples/pyd_unittests/def
examples/pyd_unittests/embedded
examples/pyd_unittests/func_wrap
examples/pyd_unittests/make_object
examples/pyd_unittests/pydobject
examples/pyd_unittests/struct_wrap
examples/pyd_unittests/typeinfo
examples/misc/d_and_c/build/
examples/arraytest/build/
examples/hello/build/
examples/inherit/build/
examples/rawexample/build/
examples/testdll/build/
examples/deimos_unittests/build/
examples/pyind/pyind
examples/pyind/pyind3
examples/pyind/build/
examples/pyd_unittests/build/
examples/interpcontext/interpcontext
examples/pydobject/example
examples/simple_embedded/hello
tests/pyd_unittests/make_object/make_object
tests/pyd_unittests/class_wrap/class_wrap
tests/pyd_unittests/const/const
tests/pyd_unittests/def/def
tests/pyd_unittests/embedded/embedded
tests/pyd_unittests/extra/extra
tests/pyd_unittests/func_wrap/func_wrap
tests/pyd_unittests/pydobject/pydobject
tests/pyd_unittests/struct_wrap/struct_wrap
tests/pyd_unittests/thread/thread
tests/pyd_unittests/typeinfo/typeinfo
tests/deimos_unittests/datetime/datetime
tests/deimos_unittests/link/link
tests/deimos_unittests/object_/object_
